.container {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/path/to/your/background-image.jpg') no-repeat center center/cover;
  }
  
  .login-box {
    background: rgba(0, 0, 0, 0.7);
    padding: 45px;
    border-radius: 15px;
    max-width: 900px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    color: white;
  }
  
  .login-box-title h1 {
    color: #ff9101;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #ff9101;
  }
  
  .input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ff9101;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }
  
  .submit {
    width: 100%;
    padding: 10px;
    background-color: #ff9101;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .submit:hover {
    background-color: #e08901;
  }
  
  hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  .switch-auth {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #ff9101;
    cursor: pointer;
  }
  
  .switch-auth:hover {
    color: #e08901;
    font-weight: bold;
  }
  
  .container-img img {
    width: 120px;
    height: 100%;
  }
  
  .login-box-title {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .button-img {
    display: flex;
    justify-content: left;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
  }
  
  .button-img img {
    width: 30px;
    height: 30px;
  }
  