/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #FFA500;
  padding: 10px 20px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.navbar navbar-expand-lg navbar-light bg-light{
  height: 200px;
 
}

.img_logo{
  height: 100px;
  width: 175px;
}

.Btn img {
  width: 20px; /* Ajusta el tamaño según tus necesidades */
  height: 20px; /* Ajusta el tamaño según tus necesidades */
  margin-right: 8px; /* Espacio entre la imagen y el texto */
}

.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363062; /* Morado */
  border: none;
  color: white; /* Texto blanco */
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px #363062;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: #F99417; /* Color del icono */
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: #F99417; /* Anaranjado */
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}


.hero {
  background-image: url(../assets/img/fondo.png);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 50px 30px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.hero h1 {
  font-size: 70px;
  font-weight: bold;
}

.features {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  width: calc(33.33% - 40px);
}

.feature img {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}

.feature h2 {
  color: #FFA500;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.features-container {
  width: 100vw;
}

.h3-border {
  border: 5px solid black; /* Define el color y grosor del borde */
  box-shadow: 5px 5px 10px #363062;
  padding: 10px; /* Espacio interior del borde */
  border-radius: 5px; /* Bordes redondeados opcional */
}

.section-with-line {
  border-bottom: 15px solid #363062; /* Línea en la parte inferior */
  padding-bottom: 0px; /* Espacio interior en la parte inferior */
  margin-bottom: 20px; /* Espacio exterior en la parte inferior */
}

.hero_final {
  background-color: #363062; /* Fondo similar al del resto de la página */
  color: white; /* Color del texto */
  text-align: center; /* Centrar el texto */
  padding: 20px 0; /* Espaciado */
}

.footer {
  background-color: #363062; /* Fondo del pie de página */
  color: #fff; /* Color del texto */
  text-align: center; /* Centrar el texto */
  padding: 10px 0; /* Espaciado */
  border-top: 2px solid #363062; /* Línea superior opcional */
  position: fixed; /* Mantener en la parte inferior de la pantalla */
  width: 100%; /* Asegurar que ocupe todo el ancho */
  bottom: 0; /* Fijar al fondo */
}

.navbar-collapse {
  justify-content: center; /* Centra los elementos del menú */
}
