/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #FFA500;
  padding: 10px 20px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.logo {
  background-color: #FFA500;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.navbar-nav {
  padding: 0 4px;
}

.navbar-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navbar-nav li {
  margin: 0 10px;
}

.navbar-nav a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  background-color: #4B0082;
  border-radius: 5px;
}

.hero {
  background-image: url(../assets/img/fondo.png);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 50px 30px;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.hero h1 {
  font-size: 70px;
  font-weight: bold;
}

.features {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  width: calc(33.33% - 40px);
}

.feature img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.feature h2 {
  color: #FFA500;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.features-container {
  width: 100vw;
}

.img_logo{
  height: 200px;
}